<div class='col-lg-9'>
  <table id="batters_table" class="table table-condensed tablesorter">
    <thead>
      <th>Player</th>
      <th>Pos</th>
      <th>BP</th>
      <th>Zips</th>
      <th>Steamer</th>
      <th>Median</th>
      <th>AB</th>
      <th>R</th>
      <th>HR</th>
      <th>RBI</th>
      <th>SB</th>
      <th>AVG</th>
      <th>OBP</th>
      <th></th>
    </thead>
    <tbody>
      <% @players.each_with_index do |player, idx| %>
        <tr id="<%= player[:id] %>" class="<%= "drafted" if player[:drafted] %>">
          <td>
            <% if player[:injury] %><img height=16px width=16px src="css/injury.png" /><% end %>
            <% if player[:sleeper] %><img height=16px width=16px src="css/star.png" /><% end %>
            <% if player[:prospect] %><img height=16px width=16px src="css/fire.png" /><% end %>
            <% if player[:rookie] %><img height=16px width=16px src="css/diamond.png" /><% end %>
            <% if player[:favorite] %><img height=16px width=16px src="css/star.png" /><% end %>
            <span class="player-name"><%= "#{idx + 1}. #{player[:name]}" %></span>
          </td>
          <td><a href="/batters?position=<%= player[:position] %>&limit=20"><%= player[:position] %></a></td>
          <td><%= sprintf("$%0.2f", player[:bp_value]) %></td>
          <td><%= sprintf("$%0.2f", player[:zips_value]) %></td>
          <td><%= sprintf("$%0.2f", player[:steamer_value]) %></td>
          <td><%= sprintf("$%0.2f", player[:median_value]) %></td>
          <td><%= sprintf("%d", player[:ab]) %></td>
          <td><%= sprintf("%d", player[:r]) %></td>
          <td><%= sprintf("%d", player[:hr]) %></td>
          <td><%= sprintf("%d", player[:rbi]) %></td>
          <td><%= sprintf("%d", player[:sb]) %></td>
          <td><%= sprintf("%0.3f", player[:avg]) %></td>
          <td><%= sprintf("%0.3f", player[:obp]) %></td>
          <td>
            <% unless player[:drafted] %>
              <form class= "draft" action="draft" method="post">
                <input type="hidden" name="player_id" value=<%= player[:id] %> />
                <input type="submit" value="draft" />
              </form>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class='col-lg-3'>
  <div id='radar'></div>
  <button style="display: none;" class='btn btn-success' id='clear-chart'>Clear</button>
</div>
<script>
  $(document).ready(function() {
    BASEBALL.initialize('batters');
    $("#batters_table").tablesorter({sortList: [[5,1]]});
    $('#batters_table > tbody > tr').heatcolor(function() { return $("td:nth-child(6)",this).text().replace('\$', ''); });
  });
</script>
