<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
<body>
  <table id="batters_table" class="tablesorter">
    <thead>
      <th>Player</th>
      <th>Team</th>
      <th>Pos</th>
      <th>Value</th>
      <th>R</th>
      <th>HR</th>
      <th>RBI</th>
      <th>SB</th>
      <th>AVG</th>
      <th>OBP</th>
      <th>Yahoo</th>
      <th></th>
    </thead>
    <tbody>
      <% @players.each_with_index do |player, idx| %>
        <tr id="<%= player[:id] %>" class="<%= " drafted" if player[:drafted] %>">
          <td>
            <% if player[:injury] %><img height=16px width=16px src="css/injury.png" /><% end %>
            <% if player[:prospect] %><img height=16px width=16px src="css/fire.png" /><% end %>
            <% if player[:rookie] %><img height=16px width=16px src="css/diamond.png" /><% end %>
            <% if player[:favorite] %><img height=16px width=16px src="css/star.png" /><% end %>
            <%= "#{idx + 1}. #{player[:name]}" %>
          </td>
          <td><%= player[:team] %></td>
          <td><a href="/batters?position=<%= player[:position] %>&limit=20"><%= player[:position] %></a></td>
          <td><%= sprintf("%0.3f", player[:value]) %></td>
          <td><%= sprintf("%d", player[:r]) %></td>
          <td><%= sprintf("%d", player[:hr]) %></td>
          <td><%= sprintf("%d", player[:rbi]) %></td>
          <td><%= sprintf("%d", player[:sb]) %></td>
          <td><%= sprintf("%0.3f", player[:avg]) %></td>
          <td><%= sprintf("%0.3f", player[:obp]) %></td>
          <td>$<%= sprintf("%0d", player[:yahoo_value]) %></td>
          <td>
            <% unless player[:drafted] %>
              <form class= "draft" action="draft" method="post">
                <input type="hidden" name="player_id" value=<%= player[:id] %> />
                <input type="submit" value="draft" />
              </form>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= erb :_search_box, :locals => {:action => "/batters"} %>
</body>
<foot>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery-1.7.1.min.js" ></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery-tablesorter.min.js" ></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery.heatcolor.0.0.1.pack.js" ></script>
  <script>
    $(document).ready(function() { 
      $("#batters_table").tablesorter();
      $('#batters_table > tbody > tr').heatcolor(function() { return $("td:nth-child(4)",this).text(); });
    });
  </script> 
</foot>
</html>
