<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
<body>
  <table id='players_table' class='tablesorter'>
    <thead>
      <th>Player</th>
      <th>Team</th>
      <th>Position</th>
      <th>Value</th>
      <th>W</th>
      <th>K</th>
      <th>S</th>
      <th>ERA</th>
      <th>WHIP</th>
      <th>Yahoo</th>
      <th></th>
    </thead>
    <tbody>
      <% @players.each_with_index do |player, idx| %>
        <tr id="<%= player[:id] %>" class="<%= idx % 2 == 0  ? 'even' : 'odd' %><%= " drafted" if player[:drafted] %>">
          <td><%= player[:name] %></td>
          <td><%= player[:team] %></td>
          <td><%= player[:position] %></td>
          <td><%= sprintf("%0.3f", player[:value]) %></td>
          <td><%= sprintf("%d", player[:w]) %></td>
          <td><%= sprintf("%d", player[:k]) %></td>
          <td><%= sprintf("%d", player[:s]) %></td>
          <td><%= sprintf("%0.3f", player[:era]) %></td>
          <td><%= sprintf("%0.3f", player[:whip]) %></td>
          <td>$<%= sprintf("%0d", player[:yahoo_value]) %></td>
          <td>
            <% unless player[:drafted] %>
              <form class= "draft" action="draft" method="post">
                <input type="hidden" name="player_id" value=<%= player[:id] %> />
                <input type="submit" value="draft" />
              </form>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id='query'>
    <a href="/">All</a>
    <a href="/batters">Batters</a>
    <a href="/pitchers">Pitchers</a><br />
    <form action="/pitchers" method="get">
      Position: <input type="text" name="position" /><br />
      <input type="submit" value="Search" />
    </form>
  </div>
</body>
<foot>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery-1.7.1.min.js" ></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery-tablesorter.min.js" ></script>
  <script language="javascript" type="text/javascript" src="/javascripts/colorize.js" ></script>
  <script>
    $(document).ready(function() { 
      $("#players_table").tablesorter({headers: { 10: { sorter: false }}});
    });
  </script> 
</foot>
</html>
